* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Poppins-Normal';
   
}

.container {
    width: 95%;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    width: 26px;
    height: 26px;
}
.logo-container {
    display: flex;
    align-items: center;
    margin-left: -4px;
}

.logo-container h3 {
    font-size: 26px;
    margin-left: 20px;
}
aside {
    padding: 30px;
    width: 230px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #eee;
    box-shadow: 5px 0px 10px 1px rgba(0, 0, 0, 0.144);
    min-height: 95vh;
}
.list-container {
    height: 60%;
    margin-top: 60px;
    
}
.list-item {
    display: flex;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    opacity: 0.6    ;
}
.active-item {
    position: relative;
    opacity: 1;
    scale: 1.1;
    
}
.active-item img {
    margin-left: 8px;
}

.active-item::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90%;
    background-color: var(--lightPurple);
    left: -20px;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -ms-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
}
.list-item:hover {
    opacity: 0.9;
    cursor: pointer;
}
.list-item h4 a {
    text-decoration: none;
    color: black;
}
.list-item h4:hover {
    scale: 1.1;
}

.list-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.account-container {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.icon-user {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.account {
    font-size: 0.65rem;
    margin-left: 8px;
}
.account h5 {
    color: #808080;
}
.logout {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.195);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 80%;
    margin-left: 20px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.logout:hover {
    box-shadow: 0 0 20px 1px rgba(255, 0, 0, 0.111);
    background-color: rgba(255, 0, 0, 0.376);
}
.logout-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.logout h3 {
    font-size: 1rem;
}
main {
    width: 80%;
    height: 90vh;
    margin-left: 36px;
}
.header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: -36px;
}
.date img {
    margin-right: 10px;
}
.date {
    position: relative;
    display: flex;
}
.date::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: gray;
    right: -2vw;
}
.header input {
    width: 300px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.108);
    font-size: 14px;
    font-family: 'Poppins-Normal';
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.header input:focus {
    width: 380px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.108);
}
.notification  {
    padding: 5px;
    border: 2px dotted black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification:hover {
    background-color: rgba(255, 0, 0, 0.47);
    scale: 1.05;
}
.notif-icon {
    width: 30px;
    height: 30px;
    cursor: pointer; 
}
.notification::after {
    color: black;
    content: "1";
    position: absolute;
    top: 1px;
    right: 12px;
}
main hr {
    margin-top: 30px;
    opacity: 0.4;
}
.overview-content h2 {
    margin-top: 30px;
}
.card-container , .actions-container{
    margin-top: 10px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.card {
    width: 40%;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.178);
    color: white;
    margin-right: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.card-employees {
    background-image: linear-gradient(20deg,var(--lightPurple),purple);
}
.card-presence {
    background-image: linear-gradient(20deg,var(--lightBlue),var(--darkBlue));
}
.card:hover {
    scale: 1.1;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.289);
}
.card h4 {
    font-size: 36px;
    margin: 8px;
}
.card h4 span {
    font-weight: normal;
    font-size: 1rem;
    margin-left: 30px;

}
.card-header img,.card-materiel {
    width: 45px;
    height: 45px;
    margin-left: 5px;
    margin-right: 22px;
    filter: invert();
    -webkit-filter: invert();
}
.card-header {
    display: flex
}
.card-header-text h6 {
    font-family: 'Poppins-Light';
    font-weight: normal;
}
.card > h6 {
    margin-left: 8px;
    font-weight: normal;
    font-size:0.7rem;
    word-spacing: 15px;
    margin-top: 20px;
}
.small-card {
    width: 150px;
    height: 80%;
    border-radius: 10px;
    background-color: var(--darkBlue);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.sm-card-img-container img{
    display: block;
    margin-top: 20px;
    filter: invert();
    -webkit-filter: invert();
}
.actions-container {
    height: 100px;
    display: flex;
    align-items: center;
}
.action {
    width: 300px;
    height: 80%;
    background-color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.248);
    margin-left: 20px;
}
.action-text {
    margin-left: 8px;
}
.action-text h3{
    font-size: 16px;
}
.action-text h4 {
    font-size: 12px;
    font-weight: normal;
}
.take-action {
    margin-left: 60px; 
}
.take-action img {
    display: block;
    width: 20px;
    height: 20px;
}
.take-action .done {
    background-color: rgba(38, 128, 0, 0.272);
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.done:hover {
    background-color: rgba(60, 194, 3, 0.489);
}
.take-action .close {
    background-color: rgba(255, 0, 0, 0.342);
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    cursor: pointer;
}
.notifyMe {
    cursor: pointer;
}

.close:hover {
    background-color: rgba(255, 0, 0, 0.522);
    cursor: pointer;
}
@media screen and (max-width:800px) {
    aside {
        display: none;
    }
    main {
        flex-direction: column;
    }
    .overview-content , .card-container, .actions-container{
        flex-direction: column;
        align-items: center;
    }
    .overview-content {
        width: 100%;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .card-container + h2 {
        margin-top: 400px;
        margin-bottom: 20px;
        text-align: center;
    }
    .sm-card-img-container {
        height: 300px;
    }
    .action {
        margin-bottom: 20px;
    }
    .header {
        justify-content: space-around;
    }
    .date {
        display: none;
    }
    .date + input {
        margin-right: 20px;
    }
}
table td  {
    border-collapse: collapse;
}
table th {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
table tr th {
    background-color: var(--lightPurple);
    color: white;
    width: 200px;
    padding: 5px;
}
table tr {
    height: 50px;
}
.action-table {
    display: flex ;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.icon-min-size {
    width: 25px;
    height: 25px;
}
.icon-min-close {
    width: 20px;
    height: 20px;
}
table tr td {
    text-align: center;
    background-color: #eee;
}
.mt {
    margin-top: 36px;
    margin-bottom: 36px;
}
td a {
    text-decoration: none;
}
td a:hover {
    text-decoration: underline;
}
.profile-container {
    display: flex;
}
.profile-container .left-profile {
    width: 30%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;   
}
.icon-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top:0px ;
}
.profile-main-infos {
    text-align: center;
    margin-top: 20px;
}
.profile-main-infos h2 {
    margin-bottom: 8px;
}
.profile-main-infos h4 {
    color: #414856;
}
.right-profile {
    background-color: #eee;
    width: 70%;
    margin-left: 36px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
}
.right-profile h2{
    margin-top:36px ;
    text-align: center;
}
.input-container {
    display: flex;
    justify-content: space-around;
    margin-top: 38px;
}
.input-container .input label {
    display: block;
    color: gray;
}
.input-container .input {
    width: 48%;
}
.input-container .input input , .input-container .input select {
    width: 100%;
    height: 50px;
    font-family: 'Poppins-Normal';
    font-size: 18px;    
}
.action-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.action-container img {
    margin-left: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    cursor: pointer;
}
.action-container img:hover {
    scale: 1.2;
}
.update-button {
    width: 95%;
    height: 50px;
    margin-top: 36px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Poppins-Normal';
    cursor: pointer;
    color: white;
    font-size: 18px;
    background-color: var(--lightPurple);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.update-button:hover {
    background-color: var(--darkPurple);
    box-shadow: 0 2px 10px 0.2px var(--lightPurple);
}
@media screen and (max-width:800px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .right-profile , .left-profile {
        width: 100%;
        margin: 0;
    }   
}
.reclamation-container {
    display: flex;
    flex-wrap: wrap;
}
.rec-card {
    width: 40%;
    height: 350px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.171);
    margin-right: 36px;
    margin-top: 36px;
    overflow: hidden;
}
.rec-card h2 {
    margin-bottom:8px ;
}
.rec-card h4 {
    margin-bottom:8px;
}
.rec-card button {
    width: 80px;
    height: 40px;
    font-size: 12px;
    font-family: 'Poppins-Normal';
}
@media screen and (max-width:800px) {
    .rec-card {
        height: 400px;
        width: 100%;
    }

}
.button-card {
    display: flex;
    justify-content: center;
}
.button-card button {
    margin: 15px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Poppins-Normal';
    background-color: var(--lightPurple);
    color: white;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    margin-top: 20px;
}
.button-card button:hover {
    scale: 1.1;
    box-shadow: 0 0 20px 2px rgba(163, 4, 212, 0.323);
    background-image: linear-gradient(0deg,var(--darkPurple),var(--darkPurple));
}
.notification-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 42, 255);
    border-radius:8px 18px 8px 8px ;
    -webkit-border-radius:8px 18px 8px 8px ;
    -moz-border-radius:8px 18px 8px 8px ;
    -ms-border-radius:8px 18px 8px 8px ;
    -o-border-radius:8px 18px 8px 8px ;
    position: absolute;
    top: 100px;
    right: 5vw;
    z-index: 50;
    box-shadow: 0 2px 30px 5px rgba(0, 0, 0, 0.748);
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transform-origin:  right bottom;
}
.notif {
    background-color: #eeeeeedb;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.toggle-notification {
    
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}
.material-card {
    width: 250px;
    height: 200px;
    background-image: linear-gradient(20deg,#4f29f0,var(--lightPurple));
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.material-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
}
@media screen and (max-width:800px) {
    .material-list {
        flex-direction: column;
        align-items: center;
    }
    .material-card {
        width: 90%;
        margin-bottom: 16px;
    }
    
}
.mat-pic {
    width: 80px;
    height: 80px;
    filter: invert();
    -webkit-filter: invert();
}
.material-card h2{
    color: white;
    margin-top: 36px;
    font-size: 1.3em;
}
#wifi-loader {
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
  }
  
  #wifi-loader svg circle.back {
    stroke: var(--back-color);
  }
  
  #wifi-loader svg circle.front {
    stroke: var(--front-color);
  }
  
  #wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
  }
  
  #wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
  }
  
  #wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
  }
  
  #wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
  }
  
  #wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
  }
  
  #wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
  }
  
  #wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
  }
  
  #wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
  }
  
  #wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
  }
  
  #wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
  }
  
  #wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
  }
  
  #wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
  }
  
  #wifi-loader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  
  #wifi-loader .text::before, #wifi-loader .text::after {
    content: attr(data-text);
  }
  
  #wifi-loader .text::before {
    color: var(--text-color);
  }
  
  #wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
  }
  
  @keyframes circle-outer135 {
    0% {
      stroke-dashoffset: 25;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 301;
    }
  
    80% {
      stroke-dashoffset: 276;
    }
  
    100% {
      stroke-dashoffset: 276;
    }
  }
  
  @keyframes circle-middle6123 {
    0% {
      stroke-dashoffset: 17;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 204;
    }
  
    80% {
      stroke-dashoffset: 187;
    }
  
    100% {
      stroke-dashoffset: 187;
    }
  }
  
  @keyframes circle-inner162 {
    0% {
      stroke-dashoffset: 9;
    }
  
    25% {
      stroke-dashoffset: 0;
    }
  
    65% {
      stroke-dashoffset: 106;
    }
  
    80% {
      stroke-dashoffset: 97;
    }
  
    100% {
      stroke-dashoffset: 97;
    }
  }
  
  @keyframes text-animation76 {
    0% {
      clip-path: inset(0 100% 0 0);
    }
  
    50% {
      clip-path: inset(0);
    }
  
    100% {
      clip-path: inset(0 0 0 100%);
    }
  }
.preloader-animation {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 50;
}
.burger {
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}
@media screen and (max-width:800px) {
    .burger {
        display: block;
        margin-right: 36px;
    }
}
.display-burger {
    display: block;
    position: absolute;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    z-index: 50;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
}
.hiddeMore {
    display: none;
}
.showMore {
    display: flex;
}
.deleteContainer , .notify{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 32px;
    background-color: #eee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.61);
    position: absolute;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}
.hiddeDelete {
    display: none;
}
.deleteContainer h2, .deleteContainer p {
    margin-top: 16px;
}
.btnDel,.btnUndo {
    width: 80px;
    border: none;
    height: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: 'Poppins-Normal';
    margin-top: 16px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.122);
}
.btnDel {
    background-color: rgb(219, 6, 6);
    color: white;
}
.btnUndo {
    background-color: #eee;
    color: black;
}
.delete {
    cursor: pointer;
}
.statsContainer {
    display: flex;
}
.stat {
    width: 400px;
    height: 300px;
    background-color: rgb(110, 16, 204);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.374);
    margin-left: 36px;
    padding: 16px;
    margin-top: 36px;

}
.stat h2 {
    margin-top: 220px;
    text-align: center;
    color: white;
}
.info {
    background-color: rgba(255, 255, 0, 0.368);
    width: 400px;position: relative;
    padding-left: 5px;
    margin-bottom: 36px;
}
.info::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    background-color: yellow;
    left: -5px;
}
.employeeHeader , .eventHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.employeeHeader button {
    width: 80px;
    height: 50px;
    font-family: 'Poppins-Normal';
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    background-color: var(--lightPurple);
    color: white;
    margin-right: 40px;
    cursor: pointer;
}
.employeeHeader button a {
    color : white;
    text-decoration: none;
}
.btnDanger , .btnNotify{
    width: 70px;
    height: 35px;
    background-color: rgba(255, 0, 0, 0.274);
    border: 2px dotted rgba(255, 0, 0, 0.369);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: 'Poppins-Normal';
    font-size: 15px;
    margin-left: 16px;
    margin-top: 32px;
    cursor: pointer;
    margin-bottom: 36px;
}
.btnNotify {
    background-color: rgba(85, 255, 0, 0.274);
    border: 2px dotted rgba(140, 255, 0, 0.369);
}
.btnHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.infoGeneral {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px;
}
.infoGeneral h5{
    font-size: 15px;
    color: #414856;
    margin-left: -20px;
    margin-right: 15px;
}
.congeContainer {
    width: 350px;
    min-height: 250px;
    background-color: #eee;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    margin-right: 16px;
    margin-bottom: 36px;
}
.congeContainer:hover {
    box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.297);
}
.status {
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.status:nth-child(n) {
    font-size: 13px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin: 8px;
}
.status-child {
    padding: 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-top: 4px;
    text-align: center;
}
.outOfRange {
    background-color: rgba(255, 0, 0, 0.295);
    color: rgb(255, 42, 42);
}
.safe {
    background-color: rgba(38, 255, 0, 0.295);
    color: rgb(14, 159, 14);
}
.almost {
    background-color: rgba(255, 111, 0, 0.295);
    color: rgb(255, 99, 42);
}
.time {
    display: flex;
    align-items: center;
    margin-top:8px ;
}
.time p {
    margin-left: 8px;
}

.conge-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.conge-container h5 {
    margin-top: 4px;
    color: gray;
}
.conge-container .btnHolder {
    margin-bottom: -40px;
}
.proof {
    display: flex;
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 2px dotted gray;
}
.employeeInput {
    width: 100%;
}
.presenceQuick {
    display: flex;
}
.present {
    width: 48%;
    padding: 5px;
    border: 2px solid rgb(102, 255, 102);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 36px;
}
.abscent {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 48%;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 36px;
}
.abscentImage {
    border: 2px solid gray;
}
.actions-container + h2 {
    margin-bottom: 16px;
}
.presentImage {
    border: 2px solid rgb(102, 255, 102);
}
.notify {
    width: 350px;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.506);
    overflow: hidden;
}
.notify h2 {
    margin:  8px 0;
}
.notify input {
    width: 80%;
    height: 40px;
    margin:  8px 0;
    border: 1px solid black;
    font-family: 'Poppins-Normal';
}
.notify textarea {
    width: 80%;
    min-height: 200px;
    margin:  8px 0;
    border: 1px solid black;
    font-family: 'Poppins-Normal';
    font-size: 15px;
}
.event h5 {
    color: gray;
}
.event p {
    font-size: 15px;
}
.event {
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 0 10px 5px rgba(128, 128, 128, 0.145);
    margin-bottom: 36px;
}
.edit, .zoom , .btnEvent{
    width: 80px;
    height: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: 'Poppins-Normal';
    border: none;
}
.edit {
    border: 2px dotted gray;
    color: gray;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.edit:hover {
    color:black;
    border: 2px dotted black;
}
.zoom {
    border: 2px solid white;
    background-color: var(--lightBlue);
    color: white;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.zoom a {
    text-decoration: none;
    color: white;
}
.zoom:hover {
    background-color: var(--darkBlue);
}
.eventHeader button a{
    text-decoration: none;
    color: white;
}
.eventHeader button {
    background-image: linear-gradient(-20deg,var(--darkPurple),var(--lightPurple));
}
.eventHeader button:hover {
    background-image: linear-gradient(20deg,var(--darkPurple),var(--lightPurple));
}
